*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.img-all {
	height: auto;
	max-width: 100%;
}

.hero-img {
	width: 100%;
}

.header {
	text-align: center;
	margin-top: 40px;
}

.container {
	text-align: center;
	margin-top: 40px;
}

.featured-item {
	margin: 20px 10px;
}

.text-heading {
	font-size: 6vw;
}

.text-heading-1 {
	font-size: 8vw;
}

.text-item {
	font-size: 5vw;
}

.header-name {
	font-size: 10vw;
}