*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: 'Marcellus SC', serif;
	margin: 0;
	padding: 0;
}

.img-all {
	height: auto;
	max-width: 100%;
}

h1,
h2,
h3,
.p-text {
	color: #333333;
}

body {
	margin-bottom: 40px;
}

.hero {
	background-color: #162118;
}

.hero-img {
	width: 100%;
	max-width: 674px;
	max-height: 450px;
}

.header {
	text-align: center;
	margin-top: 20px;
}

.header-img {
	height: 60px;
}

.container {
	text-align: center;
	margin-top: 20px;
}

.container-child-2 {
	text-align: center;
	margin-top: 40px;
}

.featured {
	margin: 20px 10px 80px 10px;
}

.featured-img {
	max-width: 280px;
	color: #333333;
}

.featured-item {
	flex-grow: 1;
	flex-shrink: 0;
	padding: 20px 10px 0px 10px;
}

.featured-title {
	font-size: 6vw;
}

.featured-text {
	font-size: 18px;
}

.container-heading {
	font-size: 8vw;
	text-align: center;
}

.header-name {
	font-size: 10vw;
}

.header-desc {
	font-size: 5vw;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.icon {
	color: #333333;
}

/* .icon:hover {
	color: #4c6ef5;
} */

.spins:hover {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

/*
 *
 * Media Queries
 *
 */

@media screen and (max-width: 400px) {
	.header-img {
		max-width: 100%;
	}
}

@media screen and (min-width: 450px) {
	.header-name {
		font-size: 40px;
	}

	.header-desc {
		font-size: 18px;
	}

	.container-heading {
		font-size: 34px;
	}

	.featured-title {
		font-size: 26px;
	}

	.featured-text {
		font-size: 20px;
	}
}

@media screen and (min-width: 675px) {
	.container-top {
		margin-top: 0px;
	}

	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		max-width: 1200px;
		margin: 0 auto;
		padding: 10px 20px;
		margin-top: 10px;
	}

	.featured {
		display: flex;
		flex-wrap: wrap;
	}

	.featured-item {
		flex-grow: 1;
		flex-shrink: 0;
		max-width: 50%;
	}

	.featured-title {
		font-size: 28px;
	}

	.header-desc {
		font-size: 22px;
	}

	.container-heading {
		font-size: 34px;
	}

	.header-img {
		height: 150px;
	}

	.header-name {
		font-size: 44px;
	}
}

@media screen and (min-width: 1135px) {
	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.row-top {
		max-width: 50%;
	}

	/* .row-btm {
		max-width: 100%;
	} */
}