*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: 'Marcellus SC', serif;
	margin: 0;
	padding: 0;
}

.img-all {
	height: auto;
	max-width: 100%;
}

.hero-img {
	width: 100%;
}

.header {
	text-align: center;
}

.header-logo {
	/* padding: 0% 10% 0% 10%; */
	height: 200px;
}

.container {
	text-align: center;
	margin-top: 40px;
}

.featured-item {
	margin: 20px 40px;
}

.text-heading {
	font-size: 6vw;
}

/* heading size boost */

.text-heading-1 {
	font-size: 8vw;
}

.text-item {
	font-size: 5vw;
}

.text-header-name {
	font-size: 10vw;
}

/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 450px) {
	.container-top {
		margin-top: 0px;
	}
	.header {
		text-align: right;
		display: flex;
		/* height: 150px; */
		justify-content: space-evenly;
		margin-top: 40px;
	}
	.header-desc,
	.header-name {
		vertical-align: bottom;
	}
	.header-img {
		/* height: 120px; */
		margin-bottom: 20px;
	}
	.header-logo {
		/* justify-content: flex-start; */
		/* padding-left: 40px; */
		width: 50%;
		text-align: left;
		height: 120px;
	}
	.header-text {
		/* justify-content: flex-end; */
		width: 50%;
		padding-right: 20px;
		text-align: center;
		vertical-align: bottom;
	}
	.text-header-name {
		font-size: 35px;
	}
	.text-item {
		font-size: 18px;
	}
	.text-heading-1 {
		font-size: 30px;
	}
	.text-heading {
		font-size: 16px;
	}
}

@media screen and (min-width: 720px) {
	.featured {
		display: flex;
		flex-wrap: wrap;
	}
	.featured-item {
		flex-grow: 1;
		flex-shrink: 0;
	}
	.header-img {
		height: 150px;
	}
	.text-header-name {
		font-size: 40px;
	}
	.text-item {
		font-size: 22px;
	}
	.text-heading-1 {
		font-size: 35px;
	}
	.text-heading {
		font-size: 18px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Credit to Joe Mesot for help with 'Thinking In Code' */